# <center> <u>Data Structures <u> </center>

## 1. Lists

Reference:- https://www.youtube.com/watch?v=ohCDWZgNIU0

<p style='text-align: right;'> 1+1+1 = 3 points</p>

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a=[]
print(type(a))

<class 'list'>

In [2]:
# print the value of a
print(a)

[]

In [3]:
# print the type of a

type(a)

list

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

<p style='text-align: right;'> 1+1+1+1+1+1+1+1 = 7 points</p>

In [4]:
 languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [5]:
len(languages)

5

Using for loop iterate and print all the elements in the list

In [6]:
#code here
for i in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [7]:
#code here
temp= languages[1]
print (temp)

Python

Print the value of temp and type(temp)

In [8]:
#code here
print(temp)
type(temp)

Python

str

Using list comprehension, print the last two elemets of list

In [9]:
# code here
print(languages[-2:])

['Scala', 42]

Append the element 'Java' in the list

In [10]:
#code here
languages.append("Java")
print(languages)

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [11]:
#code here
del languages[4:5]
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

<p style='text-align: right;'> 1+1+1+1+1+1+1 = 6 points</p>

In [12]:
#code here
colors = ['Red','Blue','White']

Append the element 'Black' to colors

In [13]:
#code here
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [14]:
# code here
colors.insert(1,'Orange')

Print the list

In [15]:
# code here
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [16]:
# code here
colors2=['Grey','Sky Blue']
print(colors2)

['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [17]:
#code here
colors.extend(colors2)

Print len of colors and its elements

In [18]:
# code here

print(len(colors))
print(colors)

7
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [19]:
# code here

colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

<p style='text-align: right;'> 7 points</p>

In [20]:
# code here
sent='Coronavirus Caused Lockdowns Around The World'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [21]:
# code here
words=sent.split()
print (words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [22]:
# code here
words_lower=[w.lower() for w in words]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Check whether ‘country’ is in the list

In [23]:
# code here
if ('country' in words_lower):
    print("It is in list")
else:
    print("not in list")

not in list

Remove the element ‘the’ from the list and print the list.

In [24]:
# code here
words_lower.remove('the')
print (words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [25]:
#code here
x4=words_lower[:4]

In [26]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [27]:
#code here
print(''.join(x4))

coronaviruscausedlockdownsaround

## 2. Sets

Reference:-https://www.youtube.com/watch?v=sBvaPopWOmQ

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

<p style='text-align: right;'> 7 points</p>

In [28]:
#code here
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [29]:
#code here
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [30]:
#code here
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [31]:
#code here
print(stud_grades_set)

{'C', 'F', 'B', 'A'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [32]:
#code here
print(type(stud_grades))
print(stud_grades)
print(type(stud_grades_set))
print(stud_grades_set)

<class 'list'>
['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'>
{'C', 'F', 'B', 'A'}

Add a new element ‘G’ to stud_grades_set

In [33]:
#code here

stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [34]:
#code here

stud_grades_set.add('F')
print(stud_grades_set)

{'C', 'B', 'A', 'G', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [35]:
#code here
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [36]:
#code here
print(stud_grades_set)
print(len(stud_grades_set))

{'C', 'B', 'A', 'G'}
4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

<p style='text-align: right;'> 6 points</p>

In [37]:
#code here
colors = ['red','blue','orange']
fruits = ['orange’,’grapes’,’apples']

Print color and fruits

In [38]:
#code here
print(colors,fruits)

['red', 'blue', 'orange'] ['orange’,’grapes’,’apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [39]:
#code here
colors_set=set(colors)
fruits_set=set(fruits)
print(colors_set)
print(fruits_set)

{'orange', 'red', 'blue'}
{'orange’,’grapes’,’apples'}

Find the union of both the sets.

In [40]:
#code here
print(colors_set.union(fruits_set))

{'orange', 'red', 'orange’,’grapes’,’apples', 'blue'}

Find the intersection of both the sets

In [41]:
#code here

print(colors_set.intersection(fruits_set))

set()

Find the elements which are Fruits but not colors (using set.difference() )

In [42]:
#code here

print(fruits_set.difference(colors_set))

{'orange’,’grapes’,’apples'}

## 3. TUPLES

Reference:-https://www.youtube.com/watch?v=NI26dqhs2Rk

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

<p style='text-align: right;'> 7 points</p>

In [43]:
#code here

temp=[17,'Virat',50.0]

Iterate through temp and print all the items in temp

In [44]:
#code here

for i in temp:
    print(i)

17
Virat
50.0

replace first element with 11 in temp

In [45]:
#code here

temp.insert(0,11)
print(temp)

[11, 17, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [46]:
#code here

temp1=tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [47]:
#code here
for i in temp1:
    print(i)

11
17
Virat
50.0

replace first element with 17 in temp1

In [48]:
#code here

temp1.insert(0,17)

AttributeError: 'tuple' object has no attribute 'insert'

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

<p style='text-align: right;'> 6 points</p>

In [49]:
#code here
city=("Banglore", 28.9949521,72)

Print first element of city

In [50]:
#code here
print(city[0])

Banglore

Create city2 = (‘Chennai’, 30.01, 74)

In [51]:
#code here
city2=('Chennai',30.01,74)

Create cities which consist of city and city2

In [52]:
#code here
cities=(city + city2)

Print cities

In [53]:
#code here

print(cities)

('Banglore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [54]:
#code here

print(type(cities[0]))

<class 'str'>

print the type of cities

In [55]:
#code here

print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## 4. DICT

Reference:-https://www.youtube.com/watch?v=XCcpzWs-CI4

<p style='text-align: right;'> 11 points</p>

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [56]:
#code here
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [57]:
#code here

print(d[0])

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [59]:
#code here

print(d['actor'])

amir

Print the type of actor

In [60]:
#code here
print(type(d['actor']))

<class 'str'>

Store the value of d[‘list’] in new variable l.

In [61]:
#code here

l=d['list']

Print the type of l.

In [62]:
#code here
print(type(l))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [63]:
#code here
d1={'singer':'Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop'}

Merge d1 into d.

In [64]:
#code here

d={**d,**d1}

print d

In [65]:
#code here
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop'}

Print all the keys in d

In [66]:
#code here

for i in d:
    print (i)

actor
animal
earth
list
singer

Print all the values in d

In [67]:
#code here

print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop'])

Iterate over d, and print each key, value pair as given in output

In [68]:
#code here

for i in d.items():
    print (i)

('actor', 'amir')
('animal', 'cat')
('earth', 2)
('list', [23, 32, 12])
('singer', 'Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop')

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [69]:
#code here
word = 'sent'
f = dict()
for c in word:
    f[c] = f.get(c,0) + 1
print(f)

{'s': 1, 'e': 1, 'n': 1, 't': 1}

# --------------------------------------------------------------------

# Hurray!! Second milestone completed. The next challenge is waiting for you :)

# --------------------------------------------------------------------

# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

**Please fill this feedback form**
https://docs.google.com/forms/d/e/1FAIpQLSfjBmH0yJSSA34IhSVx4h2eDMgOAeG4Dk-yHid__NMTk3Hq5g/viewform